@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.SearchButton{
    background-color: #1237A1;
    border: none;
    cursor: pointer;
    height: 4vh;
}

.SearchText{
    border-radius: 5px 0 0 5px;
    border-color: #1237A1;
    border-width: 1px;
    font-family: "Righteous", sans-serif;  
    height: 4vh; 
    width: 30vw;
    border: none;
}

.Searchbar {
    border: solid;
    border-color: #1237A1;
    border-radius: 5px 5px 5px 5px;
    width: 32vw;
}