@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    background-color: rgba(214, 214, 214, 0.962);
    

    
}

.text {
    font-family: 'Lato',sans-serif;
    text-align: left;
    margin: 40px;
    

    
}

