@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.header {
  background-color: #1237a1;
  padding: 0 100px 0 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
}

.barreDeNavigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin: 1vw;
}

.header a,
.header a img {
  display: flex;
  height: 100%;
}

.header a img {
  object-fit: contain;
}

.lienEtBouton {
  display: flex;
  align-items: center;
}

/* .boutonAction {
  box-sizing: border-box;
  height: 50px;
  width: 230px !important;

  border-radius: 10px;
  border: none;

  background-color: #f5cb02;
  box-shadow: none;

  margin: 2vh;

  font-family: "Righteous", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.boutonAction:hover {
  box-shadow: 0 4px 4px;
} */
