.boutonAjoutPrestation {
  background-color: #f5cb02;
  border: none;
  border-radius: 5px;
  font-family: "Righteous", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 1em;
}

.pageGlobale {
  margin: 1em 100px;
  background: rgba(206, 206, 206, 0.25);
  padding: 1em;
  border-radius: 10px;
}

.h2ajoutprestation {
  font-family: "Righteous", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */

  text-align: left;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: #000000;
  margin: 0;
}

.nomajoutprestation,
.localisationajoutprestation,
.tauxhoraireajoutprestation,
.descriptionajoutprestation,
.categorieajoutprestation {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: #1237a1;
}

.inputAjoutPrestation {
  width: 100%;
  min-height: 40px;
  border: none;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-size: var(--textfont-size);
  font-family: var(--textfont-family);
  font-weight: var(--textfont-weight);
  line-height: var(--textfont-lineheight);
  letter-spacing: var(--textfont-letterspacing);
}

.formCreationPrestation label {
  margin-top: 1em;
  margin-bottom: 1em;
}

.informationsEssentielles,
.informationsSecondaires {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 40%;

  margin: 2em;

  align-items: flex-start;
}

.inputsFormulaire {
  display: flex;
  flex-wrap: wrap;
}

.boutonFormulaire {
  display: flex;
  justify-content: flex-end;
}

.boutonFormulaire :hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0);
}
.boutonFormulaire :active {
  box-shadow: none;
  background-color: #c0a001;
}

textarea.inputAjoutPrestation {
  flex-grow: 1;
}
