@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  /* Fond de couleur grise */
  --background-grey: rgba(206, 206, 206, 0.25);

  /* Titre  */

  /* Texte */
  --textfont-family: "Lato", sans-serif;
  --textfont-size: 16px;
  --textfont-weight: 400;
  --textfont-lineheight: 22px;
  --textfont-letterspacing: 0.16em;
  --textfont-transform: none;
}
.espaceEntreprise {
  display: flex;
  justify-content: center;
}

.espaceEntreprise label {
}

.espaceEntreprise input[type]:not([type="submit"]) {
}

.formulaireEntreprise {
  width: 100%;
}

.formulaireEntreprise > div {
  margin: 2em;
}

.imageEntreprise {
  display: flex;
  background-color: var(--background-grey);
}

.encartDescriptionEntreprise {
  background-color: var(--background-grey);
}

.informationsEntreprise {
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  gap: 1em;
  padding: 2em;
}

.informationsEntreprise > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informationsEntreprise input {
  width: 60vw;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: var(--textfont-size);
  font-family: var(--textfont-family);
  font-weight: var(--textfont-weight);
  text-transform: uppercase;
  line-height: var(--textfont-lineheight);
  letter-spacing: var(--textfont-letterspacing);
  padding-left: 7px;
}
