.carte {
  border: black 1px solid;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.imageCarte {
  height: 200px;
  width: 300px;
}

.corpsCarte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lienCarte {
  position: relative;
  flex: 1SS;
}
