@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.bouton {
    background-color: #1237A1;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-family: "Righteous", sans-serif; 
    font-size: 8px;   
    height: 4vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 5px 0 5px;
    margin-right: 10px;
}